[DEFAULT]

# Where to look for kernels automatically?
;boot = /boot
;rexp = (?:.*/|)vmlinuz-([^/]+)$$

# Where to put combined and signed kernels?
;esp    = ${boot}/efi
;output = ${esp}/EFI/Linux/${section}.efi

# Signing infrastructure: Key and Certificate?
;pki  = /etc/efikeys
;cert = ${pki}/DatabaseKey.crt
;key  = ${pki}/DatabaseKey.key

# Systemd-boot EFI stub?
;stub = /usr/lib/systemd/boot/efi/linuxx64.efi.stub

# Default linux kernel, initrd, commandline config?
;kernel = ${boot}/vmlinuz-${section}
;initrd =
;  ${boot}/initramfs-${section}.img
;cmdline = quiet


# Example: add a rescue configuration with different cmdline:
;[rescue]
;kernel = ${boot}/vmlinuz-linux
;initrd =
;  ${boot}/intel-ucode.img
;  ${boot}/initramfs-linux.img
;cmdline = quiet init=/bin/bash

# Example: ignore an automatically matched section:
;[linux-lts]
;ignore = true